* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 10px;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearmar:before {
  content: "";
  display: table;
}
.clearfix {
  zoom: 1;
}
#totalTime {
  color: #000;
  font-weight: bold;
}
#searchContainer {
  z-index: 100;
}
#pullrefresh {
  margin-top: 100px;
}
#pullrefresh .table a {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: #fff;
}
#pullrefresh .table a td {
  background: #fff;
}
#pullrefresh .table .mui-collapse-content {
  background: #eee;
}
#pullrefresh .mui-table-view-cell {
  padding: 5px 0;
}
#pullrefresh .table.mui-table-view-cell > a:not(.mui-btn) {
  width: 100%;
  margin: 0;
  padding: 0;
}
#pullrefresh .taskTable {
  width: 100%;
  text-align: center;
  padding: 0;
}
#pullrefresh .taskTable h5,
#pullrefresh .taskTable h6 {
  color: #000000;
  font-weight: 600;
  border-bottom: 1px solid #000000;
  padding: 0;
  font-size: .5rem;
  height: 1rem;
}
#pullrefresh .taskTable th {
  font-weight: 600;
  font-size: 0.5rem;
  border: 1px solid #000000;
  background: #4fada1;
}
#pullrefresh .taskTable td {
  font-size: .8rem;
  border: 1px solid #000000;
  background: #ffffff;
}
#pullrefresh .taskTable button {
  padding: 0.12rem;
  font-size: 1.2rem;
  height: 1.2rem "4px";
  line-height: 1.2rem;
}
#pullrefresh .zhuangtai {
  position: relative;
  padding-bottom: 10px;
}
#pullrefresh .zhuangtai span,
#pullrefresh .zhuangtai i {
  display: block;
  position: absolute;
}
#pullrefresh .zhuangtai span {
  font-size: 1.6rem;
  color: #01FFFF;
  top: 0;
  background: #0000FE;
}
#pullrefresh .zhuangtai i {
  font-size: .83rem;
  bottom: -1px;
  font-style: normal;
  background: rgba(0, 126, 229, 0.5);
  color: white;
  width: 100%;
  height: 15px;
  line-height: 15px;
}
@media screen {
  #pullrefresh .detail {
    height: 40px;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
  }
}
.projectName {
  width: 80%;
  white-space: normal;
  text-overflow: ellipsis;
}
#aside_page {
  background: #4FADA1;
  position: relative;
  padding: .2rem .1rem;
}
#aside_page textarea {
  font-size: 1rem;
  padding: .1rem;
}
#aside_page #close {
  position: absolute ;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: #01FFFF;
}
