*{
  margin:0;
  padding:0;
}
body{
  font-size: 10px;
}
.clearfix:after{
  content: " ";
  display:block;
  clear:both;
  height:0;
}
.clearmar:before{
  content:"";
  display:table;
}
.clearfix{zoom:1;}
#totalTime{
  color:#000;
  font-weight: bold;
}
#searchContainer{
  z-index: 100;
  //border:1px solid red;
}
#pullrefresh{
  margin-top:100px;
 @border_color:#000;
  .table{
    a{
      box-shadow: 2px 2px 2px rgba(0,0,0,.5);
      background: #fff;
      td{
        background: #fff;
      }
    }
    .mui-collapse-content{
      background: #eee;
    }
  }
  .mui-table-view-cell{
    padding:5px 0;
  }
  .table.mui-table-view-cell > a:not(.mui-btn) {
    width: 100%;
    margin:0;
    padding:0;
  }
  .taskTable{
    width:100%;
    text-align: center;
    //box-sizing: border-box;
    padding:0;
    h5,h6{
      color:#000000;
      font-weight: 600;
      border-bottom: 1px solid @border_color;
      padding:0;
      font-size: .5rem;
      height:1rem;
    }
    @th_background:#4FADA1;
    th{
      font-weight: 600;
      font-size: 0.5rem;
      border:1px solid @border_color;
      background: @th_background;
    }
    @td_background:#fff;
    td{
      font-size: .8rem;
      border:1px solid @border_color;
      background: @td_background;
    }
    //按钮大小设置
    @button_size:1.2rem;
    button{
      padding:@button_size/10;
      font-size: @button_size;
      height:@button_size+"4px";
      line-height: @button_size;
    }
  }
  .zhuangtai{
    position: relative;
    padding-bottom: 10px;
    span,i{
      display: block;
      position: absolute;

    }
    span{
      font-size: 1.6rem;
      color:#01FFFF;
      top:0;
      background:#0000FE;
    }
    i{
      font-size: .83rem;
      bottom:-1px;
      font-style: normal;
      background: rgba(0,126,229,.5);
      color: white;
      width:100%;
      height:15px;
      line-height: 15px;
    }
  }
  .detail_width(@width){
    //box-sizing: border-box;
    height:40px;
    width: @width; //������Ҫ�̶��Ŀ��
    white-space: normal;//������
    text-overflow: ellipsis; //����������....����
    //overflow: hidden; //��������
  }
  @media screen{
    .detail{
      .detail_width(100%);
    };
  }
}
//�
.projectName{
  //box-sizing: border-box;
  width: 80%; //��
  white-space: normal;//������
  text-overflow: ellipsis; //������

}
//菜单容器
#aside_page{
  background: #4FADA1;
  position: relative;
  padding:.2rem .1rem;
  textarea{
    font-size: 1rem;
    padding:.1rem;
  }
  @close_size:1.5rem;
  #close{
    position:absolute ;
    top:0;
    left:0;
    color:white;
    font-weight: bold;
    font-size: @close_size;
    height:@close_size;
    width: @close_size;
    border-radius: 50%;
    background: #01FFFF;
  }
}